$modalBlue: #0E3868;
$bgBlue: #47698D;

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-color: $bgBlue;
}

ul
{
    padding: 0;
    li
    {
        max-width: 80%;
    }
}

a
{
    text-decoration: none;
    color: inherit;
    &.modal-btn
    {
        background: $modalBlue;
        padding: 10px 25px;
        text-transform: uppercase;
        color: #fff;
        border-radius: 2px;
    }
	&.modal-close
	{
		color: #fff;
		position: absolute;
		right: 15px;
		top: 0;
	}
}

.info-container {
    width: 650px;
    height: 500px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    h2{
        margin-top: 40px;
        margin-bottom: 29px;
    }
}

.info-content {
    max-width: 300px;
    img {
        max-height: 150px;
    }
}

.upcoming-sidebar {
    max-width: 200px;
    height: 500px;
    position: absolute;
    margin: auto;
    right: 50px;
    top: 50%;
    margin-right: 80px;
    transform: translateY(-50%);
    h2 {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    img {
        max-height: 150px;
    }
}

.featured-img {
    width: 300px;
    height: 135px;
    img {
        border: 1px solid #000;
        max-height: 112px;
    }
}  

.list-upcoming
{
	p
	{
		display: inline-block;
	}
}

.base-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 115vh;
    &.show { display: block; }
    .modal-inner {
        position: relative;
        width: 400px;
        padding: 20px;
        margin: 25% auto;
        z-index: 9999;
        background: rgba($modalBlue, .95);
        box-shadow: 0 -4px 30px 6px #000000;
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        ul
        {
            font-size: 15px;
            list-style: none;
            li
            {
                margin-bottom: 10px;
				margin-left: auto;
				margin-right: auto;
            }
        }
    }
}

.hide { display: none; }

.info-heading, .upcoming-heading
{
    background: $modalBlue;
    max-width: 200px;
    box-shadow: 0px 4px 19px #000;
    h2 
    { 
        padding: 10px 15px;
        color: #fff;
    }
}

.programme-desc, .upcoming-desc
{
    max-width: 200px;
}

.programme-title, .upcoming-title
{
    @extend .programme-desc;
}

.title-long
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-height: 595px)
{
	.list-upcoming
	{
		margin-top: 400px !important;
		padding-top: 35px;
	}
	.info-container, .upcoming-sidebar
	{
		max-height: 50%;
		margin-top: 0;
	}
	.upcoming-sidebar
	{
		top: 25%;
	}
}
