html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

.info-container {
    width: 650px;
    height: 400px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    h2{
        margin-top: 40px;
        margin-bottom: 29px;
    }
}

.info-content {
    max-width: 300px;
    img {
        max-height: 150px;
    }
}

.upcoming-sidebar {
    max-width: 200px;
    height: 400px;
    position: absolute;
    margin: auto;
    right: 50px;
    top: 50%;
    margin-right: 80px;
    transform: translateY(-50%);
    h2 {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    img {
        max-height: 150px;
    }
}

.featured-img {
    width: 300px;
    height: 135px;
    img {
        border: 1px solid #000;
    }
}  

.interim-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    &.show { display: block; }
    .modal-inner {
        position: relative;
        width: 400px;
        padding: 20px;
        margin: 25% auto;
        z-index: 9999;
        background: red;
    }
}
